tgcrypto
pytz
psutil
motor
dnspython
GitPython
pykeyboard
bs4
git+https://github.com/PyrogramMod/PyrogramMod@ab8dc95bd1505acb834fba95386f9f510221019e
Pillow==9.5.0
pymediainfo
opencv-python-headless 
py-tgcalls
requests
unidecode
pytimeparse
attrify
pySmartDL
html2text
removebg
aiofiles
aiohttp
gpytranslate
gtts
telegraph
pyromod==1.5
youtube-search-python
pymongo
yt-dlp
wget
python-dateutil
emoji
heroku3
uvloop
